<a href="https://colab.research.google.com/github/Aakash1822/Time-Series-Forecast-NSE/blob/master/Trade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install nsepy

Collecting nsepy
  Downloading https://files.pythonhosted.org/packages/23/c2/0d19d7ddb36638568ad4a83ab80b492eccc540ef7b7fa9df9a26536b16a1/nsepy-0.7.tar.gz
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (from nsepy) (4.6.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from nsepy) (2.21.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from nsepy) (1.16.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from nsepy) (0.24.2)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nsepy) (1.12.0)
Requirement already satisfied: click in /usr/local/lib/python3.6/dist-packages (from nsepy) (7.0)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->nsepy) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->nsepy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->nsepy) (2019.3.9)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->nsepy) (1.24.2)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas->nsepy) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas->nsepy) (2.5.3)
Building wheels for collected packages: nsepy
  Building wheel for nsepy (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/88/89/1e/3dfa14f863314a42481d8926d9ef4825da5d899e026435fc3a
Successfully built nsepy
Installing collected packages: nsepy
Successfully installed nsepy-0.7

In [0]:
from nsepy import get_history
from datetime import date
import pandas as pd

In [3]:
from nsepy.derivatives import get_expiry_date
expire = get_expiry_date(year = 2016, month=12)
expire

building dictionary

datetime.date(2016, 12, 29)

In [0]:
tcs = get_history(symbol='TCS', start=date(2016,1,1),
                                end=date(2016,12,29))

In [5]:
tcs

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2016-01-01,TCS,EQ,2436.85,2439.00,2439.00,2412.25,2414.10,2416.40,2423.73,356131,8.631649e+13,15545,246115,0.6911
2016-01-04,TCS,EQ,2416.40,2410.15,2414.00,2366.05,2373.00,2369.60,2381.76,935092,2.227161e+14,72341,615009,0.6577
2016-01-05,TCS,EQ,2369.60,2385.00,2386.60,2341.00,2349.85,2348.95,2353.54,1339010,3.151409e+14,97799,1037513,0.7748
2016-01-06,TCS,EQ,2348.95,2350.20,2386.15,2350.20,2382.00,2381.60,2374.18,1326614,3.149627e+14,43208,852411,0.6425
2016-01-07,TCS,EQ,2381.60,2370.00,2382.90,2360.00,2379.00,2371.25,2367.71,1599790,3.787837e+14,29836,877850,0.5487
2016-01-08,TCS,EQ,2371.25,2385.00,2407.35,2372.50,2400.80,2397.60,2396.08,953772,2.285314e+14,29435,596208,0.6251
2016-01-11,TCS,EQ,2397.60,2382.50,2384.00,2348.85,2362.80,2362.35,2361.63,1465114,3.460059e+14,52084,927856,0.6333
2016-01-12,TCS,EQ,2362.35,2362.70,2365.00,2301.60,2317.00,2327.05,2325.68,1741297,4.049699e+14,78442,1022719,0.5873
2016-01-13,TCS,EQ,2327.05,2317.00,2327.00,2255.10,2280.00,2279.20,2283.97,2373046,5.419974e+14,110813,1008246,0.4249
2016-01-14,TCS,EQ,2279.20,2273.00,2298.90,2250.00,2280.05,2278.80,2280.21,1371026,3.126231e+14,68867,841660,0.6139
2016-01-15,TCS,EQ,2278.80,2288.85,2291.70,2255.00,2265.25,2261.10,2267.74,1634704,3.707078e+14,59507,1305490,0.7986
2016-01-18,TCS,EQ,2261.10,2262.00,2291.90,2260.00,2280.00,2277.65,2281.48,1106961,2.525515e+14,36247,824382,0.7447
2016-01-19,TCS,EQ,2277.65,2277.00,2300.00,2268.30,2288.00,2279.30,2277.26,483955,1.102090e+14,37877,314006,0.6488
2016-01-20,TCS,EQ,2279.30,2273.80,2285.00,2243.00,2280.00,2280.10,2268.32,807977,1.832752e+14,47824,573668,0.7100
2016-01-21,TCS,EQ,2280.10,2285.00,2289.90,2245.75,2258.00,2254.50,2258.77,1337768,3.021716e+14,48506,988982,0.7393
2016-01-22,TCS,EQ,2254.50,2273.00,2302.05,2260.00,2290.00,2295.75,2290.27,671589,1.538122e+14,65671,490657,0.7306
2016-01-25,TCS,EQ,2295.75,2301.90,2339.00,2291.50,2301.70,2304.65,2317.64,698780,1.619518e+14,63300,479449,0.6861
2016-01-27,TCS,EQ,2304.65,2302.00,2329.95,2281.90,2317.00,2319.75,2316.74,813493,1.884649e+14,37894,583494,0.7173
2016-01-28,TCS,EQ,2319.75,2315.50,2348.90,2308.05,2345.00,2331.20,2334.21,1553330,3.625795e+14,52219,1005471,0.6473
2016-01-29,TCS,EQ,2331.20,2358.70,2400.00,2335.05,2386.10,2391.30,2372.42,1117872,2.652058e+14,51641,842301,0.7535
2016-02-01,TCS,EQ,2391.30,2391.10,2412.95,2359.00,2395.35,2402.70,2402.94,747637,1.796524e+14,65836,542493,0.7256
2016-02-02,TCS,EQ,2402.70,2409.00,2433.00,2379.70,2382.00,2398.10,2415.55,737794,1.782175e+14,50764,460781,0.6245
2016-02-03,TCS,EQ,2398.10,2387.50,2429.90,2360.30,2424.80,2416.30,2402.39,654346,1.571996e+14,35587,443404,0.6776
2016-02-04,TCS,EQ,2416.30,2421.90,2440.00,2402.00,2423.00,2420.05,2419.99,625023,1.512552e+14,42532,370318,0.5925
2016-02-05,TCS,EQ,2420.05,2408.10,2439.95,2408.10,2424.00,2421.95,2425.99,701498,1.701826e+14,80411,454027,0.6472
2016-02-08,TCS,EQ,2421.95,2400.00,2412.05,2347.00,2354.30,2362.95,2385.01,531829,1.268417e+14,29355,333965,0.6280
2016-02-09,TCS,EQ,2362.95,2333.60,2333.60,2255.60,2280.70,2281.40,2276.64,1244805,2.833978e+14,74469,719530,0.5780
2016-02-10,TCS,EQ,2281.40,2275.00,2289.90,2258.10,2283.00,2268.80,2271.48,945366,2.147378e+14,65549,604389,0.6393
2016-02-11,TCS,EQ,2268.80,2280.00,2289.00,2171.65,2179.35,2197.95,2231.27,981204,2.189332e+14,73416,582430,0.5936
2016-02-12,TCS,EQ,2197.95,2200.00,2243.40,2164.00,2226.30,2226.60,2214.47,1086284,2.405541e+14,85740,632825,0.5826
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-11-18,TCS,EQ,2137.20,2142.00,2150.00,2104.20,2126.20,2125.10,2123.04,1070267,2.272215e+14,71737,720264,0.6730
2016-11-21,TCS,EQ,2125.10,2126.20,2140.00,2105.00,2130.00,2132.90,2128.57,896683,1.908655e+14,63995,642120,0.7161
2016-11-22,TCS,EQ,2132.90,2132.00,2177.45,2122.05,2142.00,2135.00,2147.59,659430,1.416184e+14,38866,358511,0.5437
2016-11-23,TCS,EQ,2135.00,2149.00,2162.95,2127.20,2158.50,2156.35,2150.81,637904,1.372013e+14,40612,452131,0.7088
2016-11-24,TCS,EQ,2156.35,2154.90,2207.60,2137.00,2205.00,2188.45,2185.41,1513117,3.306774e+14,47769,989064,0.6537
2016-11-25,TCS,EQ,2188.45,2212.00,2307.25,2192.20,2299.80,2300.35,2272.25,2138074,4.858238e+14,125651,1308479,0.6120
2016-11-28,TCS,EQ,2300.35,2294.00,2319.45,2251.90,2275.05,2282.60,2283.57,962148,2.197133e+14,69327,514849,0.5351
2016-11-29,TCS,EQ,2282.60,2275.00,2292.00,2252.55,2263.00,2259.85,2271.38,721148,1.638002e+14,60419,463428,0.6426
2016-11-30,TCS,EQ,2259.85,2265.00,2294.75,2242.30,2275.00,2276.05,2272.16,1722916,3.914748e+14,88801,1019099,0.5915
2016-12-01,TCS,EQ,2276.05,2277.00,2290.00,2254.05,2267.00,2263.45,2270.78,561526,1.275101e+14,48664,264640,0.4713
2016-12-02,TCS,EQ,2263.45,2258.00,2270.80,2205.20,2229.00,2221.85,2233.56,999016,2.231366e+14,70395,643301,0.6439
2016-12-05,TCS,EQ,2221.85,2229.00,2237.85,2170.00,2188.50,2186.00,2189.99,1124763,2.463216e+14,65000,713538,0.6344
2016-12-06,TCS,EQ,2186.00,2190.00,2203.95,2169.90,2170.85,2182.35,2189.54,796722,1.744452e+14,50293,570135,0.7156
2016-12-07,TCS,EQ,2182.35,2182.20,2184.45,2145.65,2157.90,2154.55,2164.31,1032853,2.235417e+14,63105,771170,0.7466
2016-12-08,TCS,EQ,2154.55,2160.50,2199.00,2160.00,2195.00,2195.75,2185.77,1619773,3.540455e+14,74988,1378152,0.8508
2016-12-09,TCS,EQ,2195.75,2205.00,2219.90,2173.30,2193.60,2195.25,2199.22,794359,1.746969e+14,53949,486502,0.6124
2016-12-12,TCS,EQ,2195.25,2194.80,2217.60,2163.00,2210.00,2208.20,2198.33,655879,1.441838e+14,43775,351270,0.5356
2016-12-13,TCS,EQ,2208.20,2218.00,2218.00,2183.00,2210.75,2200.30,2199.64,1073767,2.361901e+14,58059,661252,0.6158
2016-12-14,TCS,EQ,2200.30,2214.00,2224.70,2189.00,2208.80,2207.60,2207.22,935183,2.064159e+14,46920,678185,0.7252
2016-12-15,TCS,EQ,2207.60,2202.00,2272.10,2202.00,2256.50,2259.30,2257.49,2147705,4.848414e+14,74707,1632465,0.7601
2016-12-16,TCS,EQ,2259.30,2277.00,2290.00,2252.00,2284.80,2282.65,2275.76,993615,2.261230e+14,55542,701348,0.7059
2016-12-19,TCS,EQ,2282.65,2280.00,2297.70,2261.30,2285.00,2288.90,2274.60,667105,1.517400e+14,44317,499245,0.7484
2016-12-20,TCS,EQ,2288.90,2292.00,2345.00,2287.05,2340.00,2339.30,2322.69,1461380,3.394334e+14,49014,943670,0.6457
2016-12-21,TCS,EQ,2339.30,2343.80,2343.80,2305.60,2312.00,2313.60,2318.50,1017451,2.358959e+14,85491,774330,0.7610
2016-12-22,TCS,EQ,2313.60,2306.00,2325.00,2286.20,2315.60,2307.70,2306.01,934150,2.154160e+14,47737,585230,0.6265
2016-12-23,TCS,EQ,2307.70,2300.00,2317.75,2278.80,2285.00,2288.10,2295.23,559477,1.284127e+14,42554,331694,0.5929
2016-12-26,TCS,EQ,2288.10,2266.00,2301.60,2266.00,2296.85,2293.10,2290.60,448704,1.027802e+14,29524,213160,0.4751
2016-12-27,TCS,EQ,2293.10,2281.50,2330.00,2281.50,2322.80,2323.40,2317.79,647346,1.500411e+14,42719,358760,0.5542
2016-12-28,TCS,EQ,2323.40,2326.70,2349.90,2303.15,2305.25,2313.40,2335.86,675209,1.577194e+14,65267,420288,0.6225
2016-12-29,TCS,EQ,2313.40,2303.00,2359.90,2303.00,2355.00,2351.70,2346.25,981758,2.303445e+14,64945,575262,0.5860

In [0]:
tcs.insert(0, 'Date', pd.to_datetime(tcs.index, format='%Y-%m-%d'))

In [7]:
type(tcs.index)
type(tcs.Date)
tcs.Date.dt

In [8]:
tcs.count()

Date                  246
Symbol                246
Series                246
Prev Close            246
Open                  246
High                  246
Low                   246
Last                  246
Close                 246
VWAP                  246
Volume                246
Turnover              246
Trades                246
Deliverable Volume    246
%Deliverble           246
dtype: int64

In [9]:
tcs.head(10)

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,,
2016-01-01,2016-01-01,TCS,EQ,2436.85,2439.00,2439.00,2412.25,2414.10,2416.40,2423.73,356131,8.631649e+13,15545,246115,0.6911
2016-01-04,2016-01-04,TCS,EQ,2416.40,2410.15,2414.00,2366.05,2373.00,2369.60,2381.76,935092,2.227161e+14,72341,615009,0.6577
2016-01-05,2016-01-05,TCS,EQ,2369.60,2385.00,2386.60,2341.00,2349.85,2348.95,2353.54,1339010,3.151409e+14,97799,1037513,0.7748
2016-01-06,2016-01-06,TCS,EQ,2348.95,2350.20,2386.15,2350.20,2382.00,2381.60,2374.18,1326614,3.149627e+14,43208,852411,0.6425
2016-01-07,2016-01-07,TCS,EQ,2381.60,2370.00,2382.90,2360.00,2379.00,2371.25,2367.71,1599790,3.787837e+14,29836,877850,0.5487
2016-01-08,2016-01-08,TCS,EQ,2371.25,2385.00,2407.35,2372.50,2400.80,2397.60,2396.08,953772,2.285314e+14,29435,596208,0.6251
2016-01-11,2016-01-11,TCS,EQ,2397.60,2382.50,2384.00,2348.85,2362.80,2362.35,2361.63,1465114,3.460059e+14,52084,927856,0.6333
2016-01-12,2016-01-12,TCS,EQ,2362.35,2362.70,2365.00,2301.60,2317.00,2327.05,2325.68,1741297,4.049699e+14,78442,1022719,0.5873
2016-01-13,2016-01-13,TCS,EQ,2327.05,2317.00,2327.00,2255.10,2280.00,2279.20,2283.97,2373046,5.419974e+14,110813,1008246,0.4249
2016-01-14,2016-01-14,TCS,EQ,2279.20,2273.00,2298.90,2250.00,2280.05,2278.80,2280.21,1371026,3.126231e+14,68867,841660,0.6139

In [10]:
tcs.tail(10)

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,,
2016-12-16,2016-12-16,TCS,EQ,2259.30,2277.0,2290.00,2252.00,2284.80,2282.65,2275.76,993615,2.261230e+14,55542,701348,0.7059
2016-12-19,2016-12-19,TCS,EQ,2282.65,2280.0,2297.70,2261.30,2285.00,2288.90,2274.60,667105,1.517400e+14,44317,499245,0.7484
2016-12-20,2016-12-20,TCS,EQ,2288.90,2292.0,2345.00,2287.05,2340.00,2339.30,2322.69,1461380,3.394334e+14,49014,943670,0.6457
2016-12-21,2016-12-21,TCS,EQ,2339.30,2343.8,2343.80,2305.60,2312.00,2313.60,2318.50,1017451,2.358959e+14,85491,774330,0.7610
2016-12-22,2016-12-22,TCS,EQ,2313.60,2306.0,2325.00,2286.20,2315.60,2307.70,2306.01,934150,2.154160e+14,47737,585230,0.6265
2016-12-23,2016-12-23,TCS,EQ,2307.70,2300.0,2317.75,2278.80,2285.00,2288.10,2295.23,559477,1.284127e+14,42554,331694,0.5929
2016-12-26,2016-12-26,TCS,EQ,2288.10,2266.0,2301.60,2266.00,2296.85,2293.10,2290.60,448704,1.027802e+14,29524,213160,0.4751
2016-12-27,2016-12-27,TCS,EQ,2293.10,2281.5,2330.00,2281.50,2322.80,2323.40,2317.79,647346,1.500411e+14,42719,358760,0.5542
2016-12-28,2016-12-28,TCS,EQ,2323.40,2326.7,2349.90,2303.15,2305.25,2313.40,2335.86,675209,1.577194e+14,65267,420288,0.6225
2016-12-29,2016-12-29,TCS,EQ,2313.40,2303.0,2359.90,2303.00,2355.00,2351.70,2346.25,981758,2.303445e+14,64945,575262,0.5860

In [0]:
infy = get_history(symbol='INFY',start=date(2016,1,1),
                                 end=date(2016,12,29))

In [12]:
infy

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2016-01-01,INFY,EQ,1105.40,1100.00,1108.95,1093.20,1103.00,1105.25,1103.13,903275,9.964333e+13,18982,331554,0.3671
2016-01-04,INFY,EQ,1105.25,1099.95,1102.45,1076.05,1078.50,1078.90,1087.82,1987681,2.162231e+14,53877,1247329,0.6275
2016-01-05,INFY,EQ,1078.90,1085.50,1085.50,1062.25,1073.00,1074.05,1073.17,2474893,2.655975e+14,62085,1566206,0.6328
2016-01-06,INFY,EQ,1074.05,1074.65,1074.65,1058.90,1068.50,1069.35,1067.55,2794164,2.982910e+14,76128,1985200,0.7105
2016-01-07,INFY,EQ,1069.35,1060.05,1067.90,1047.90,1052.55,1050.80,1057.50,2647044,2.799256e+14,79845,1650344,0.6235
2016-01-08,INFY,EQ,1050.80,1061.50,1067.40,1055.50,1064.65,1063.30,1061.56,1578358,1.675522e+14,47934,847886,0.5372
2016-01-11,INFY,EQ,1063.30,1056.30,1069.95,1052.10,1054.50,1055.70,1057.72,2680311,2.835019e+14,66784,1635209,0.6101
2016-01-12,INFY,EQ,1055.70,1062.00,1062.95,1030.85,1048.05,1049.95,1046.58,3282606,3.435500e+14,95213,2327621,0.7091
2016-01-13,INFY,EQ,1049.95,1057.00,1091.00,1048.10,1081.05,1083.40,1073.58,4375647,4.697626e+14,82289,2136586,0.4883
2016-01-14,INFY,EQ,1083.40,1066.00,1155.00,1054.35,1137.50,1133.00,1128.78,15113503,1.705983e+15,335583,5601848,0.3707
2016-01-15,INFY,EQ,1133.00,1148.00,1164.00,1137.55,1140.00,1139.90,1147.83,6518307,7.481937e+14,168749,3790529,0.5815
2016-01-18,INFY,EQ,1139.90,1139.90,1162.10,1128.35,1129.60,1131.90,1144.54,5033306,5.760833e+14,124462,3285743,0.6528
2016-01-19,INFY,EQ,1131.90,1135.00,1158.95,1128.55,1140.25,1139.65,1143.19,3750218,4.287225e+14,131724,2249627,0.5999
2016-01-20,INFY,EQ,1139.65,1134.00,1160.00,1117.00,1120.75,1121.25,1127.86,3753999,4.233996e+14,106567,2197144,0.5853
2016-01-21,INFY,EQ,1121.25,1135.00,1142.50,1122.00,1139.65,1137.05,1133.26,3371500,3.820775e+14,107775,2004650,0.5946
2016-01-22,INFY,EQ,1137.05,1148.10,1152.50,1131.00,1140.00,1136.25,1139.49,3218009,3.666880e+14,106108,2176678,0.6764
2016-01-25,INFY,EQ,1136.25,1140.25,1146.85,1124.55,1141.00,1137.65,1136.23,2289631,2.601552e+14,78546,1529972,0.6682
2016-01-27,INFY,EQ,1137.65,1146.45,1149.60,1135.00,1135.35,1138.50,1141.44,3485981,3.979042e+14,79129,2274278,0.6524
2016-01-28,INFY,EQ,1138.50,1136.00,1142.60,1126.20,1129.10,1129.60,1131.59,3894299,4.406765e+14,67003,3016965,0.7747
2016-01-29,INFY,EQ,1129.60,1138.00,1170.00,1131.60,1166.00,1164.90,1155.59,5116054,5.912064e+14,105694,3658298,0.7151
2016-02-01,INFY,EQ,1164.90,1170.00,1179.90,1161.60,1171.50,1173.35,1171.18,2125563,2.489418e+14,69859,1159429,0.5455
2016-02-02,INFY,EQ,1173.35,1176.85,1190.00,1164.00,1168.40,1175.55,1181.63,3816351,4.509512e+14,87845,2430012,0.6367
2016-02-03,INFY,EQ,1175.55,1167.80,1175.90,1152.75,1158.90,1157.70,1163.28,2622983,3.051258e+14,64989,1613649,0.6152
2016-02-04,INFY,EQ,1157.70,1160.05,1194.95,1160.05,1179.30,1179.75,1181.37,2774673,3.277919e+14,68846,1524604,0.5495
2016-02-05,INFY,EQ,1179.75,1175.50,1186.65,1171.85,1176.85,1174.70,1178.61,1992112,2.347916e+14,72608,1221680,0.6133
2016-02-08,INFY,EQ,1174.70,1163.75,1172.20,1143.80,1145.85,1150.80,1159.26,2110522,2.446636e+14,58432,1435924,0.6804
2016-02-09,INFY,EQ,1150.80,1128.30,1128.30,1093.50,1107.50,1107.65,1107.11,3789786,4.195709e+14,110917,2447506,0.6458
2016-02-10,INFY,EQ,1107.65,1108.00,1127.50,1105.00,1106.10,1108.55,1115.31,2933027,3.271249e+14,95356,1678192,0.5722
2016-02-11,INFY,EQ,1108.55,1111.00,1113.00,1071.15,1078.80,1078.65,1089.29,2607189,2.839988e+14,93260,1525023,0.5849
2016-02-12,INFY,EQ,1078.65,1094.70,1104.40,1067.00,1084.75,1084.65,1083.79,3704048,4.014409e+14,112945,2195228,0.5927
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-11-18,INFY,EQ,929.80,930.00,933.25,917.50,918.00,920.00,925.99,3020114,2.796603e+14,121639,2240830,0.7420
2016-11-21,INFY,EQ,920.00,926.90,926.90,906.95,914.00,911.10,918.76,3970284,3.647743e+14,129057,3044568,0.7668
2016-11-22,INFY,EQ,911.10,916.90,928.65,911.65,914.85,914.20,918.14,2741563,2.517130e+14,106048,2006559,0.7319
2016-11-23,INFY,EQ,914.20,922.10,922.90,912.45,921.00,920.25,918.81,4125893,3.790923e+14,130883,3540359,0.8581
2016-11-24,INFY,EQ,920.25,928.20,939.90,923.30,930.00,930.30,931.71,8390322,7.817314e+14,131479,7064694,0.8420
2016-11-25,INFY,EQ,930.30,930.45,985.00,930.45,974.70,977.50,971.84,6315690,6.137815e+14,206134,3658597,0.5793
2016-11-28,INFY,EQ,977.50,979.30,983.45,970.60,978.05,979.75,978.12,3682856,3.602268e+14,114279,2635667,0.7157
2016-11-29,INFY,EQ,979.75,978.80,984.70,967.10,973.45,972.60,976.81,3062753,2.991718e+14,84322,2280029,0.7444
2016-11-30,INFY,EQ,972.60,973.00,977.00,961.05,974.05,975.55,973.42,4250459,4.137474e+14,99676,2430712,0.5719
2016-12-01,INFY,EQ,975.55,976.00,983.55,967.00,974.95,975.60,974.84,2305795,2.247778e+14,68019,1555051,0.6744
2016-12-02,INFY,EQ,975.60,964.80,969.60,961.10,963.00,964.50,966.01,2226614,2.150941e+14,130557,1576117,0.7079
2016-12-05,INFY,EQ,964.50,965.90,968.60,958.00,961.00,961.65,961.83,1829788,1.759944e+14,57931,1226781,0.6704
2016-12-06,INFY,EQ,961.65,961.80,979.50,961.65,968.55,966.50,971.03,1781055,1.729463e+14,64774,1240008,0.6962
2016-12-07,INFY,EQ,966.50,968.00,973.00,960.20,966.70,966.40,967.48,1692990,1.637934e+14,77351,1096672,0.6478
2016-12-08,INFY,EQ,966.40,970.05,986.10,970.05,985.00,984.65,983.22,2970831,2.920978e+14,83482,2385393,0.8029
2016-12-09,INFY,EQ,984.65,985.00,1008.15,981.50,986.00,989.35,995.37,4324192,4.304150e+14,121111,3195753,0.7390
2016-12-12,INFY,EQ,989.35,982.80,982.80,965.20,978.00,977.35,972.86,2672510,2.599983e+14,74619,1834356,0.6864
2016-12-13,INFY,EQ,977.35,980.50,992.85,971.10,987.50,990.20,983.95,2427141,2.388176e+14,71109,1818280,0.7491
2016-12-14,INFY,EQ,990.20,991.00,1004.95,984.10,999.00,999.75,996.89,2691307,2.682939e+14,63665,1754716,0.6520
2016-12-15,INFY,EQ,999.75,997.40,1018.95,989.00,992.40,992.35,1007.80,3983208,4.014290e+14,107209,2587459,0.6496
2016-12-16,INFY,EQ,992.35,1003.80,1009.70,997.75,1004.45,1005.15,1004.24,3218371,3.232002e+14,93462,2410099,0.7489
2016-12-19,INFY,EQ,1005.15,1006.10,1008.25,994.10,1005.00,1004.65,1000.85,2062067,2.063821e+14,52933,1578575,0.7655
2016-12-20,INFY,EQ,1004.65,1002.00,1019.00,1001.30,1013.50,1012.15,1012.54,3818249,3.866137e+14,121711,2841078,0.7441
2016-12-21,INFY,EQ,1012.15,1016.00,1022.00,998.25,1002.50,1001.55,1011.82,3671988,3.715406e+14,85526,2560729,0.6974
2016-12-22,INFY,EQ,1001.55,1002.50,1007.00,969.50,986.00,984.70,987.93,3530027,3.487410e+14,109425,2137110,0.6054
2016-12-23,INFY,EQ,984.70,984.90,1006.60,973.60,988.25,988.45,989.92,3653018,3.616212e+14,87394,2010219,0.5503
2016-12-26,INFY,EQ,988.45,988.00,994.00,975.10,983.35,982.75,983.28,1606914,1.580050e+14,47565,958338,0.5964
2016-12-27,INFY,EQ,982.75,982.75,1001.90,980.00,996.90,998.95,993.09,2456408,2.439426e+14,57508,1430604,0.5824
2016-12-28,INFY,EQ,998.95,1002.95,1009.80,995.00,999.00,998.50,1003.15,2738408,2.747040e+14,81224,1853359,0.6768
2016-12-29,INFY,EQ,998.50,1003.75,1008.00,988.15,990.00,992.35,997.88,3120062,3.113452e+14,92963,2303901,0.7384

In [0]:
infy.insert(0, 'Date', pd.to_datetime(infy.index, format='%Y-%m-%d'))

In [14]:
print(type(infy.index))
print(type(infy.Date))
infy.Date.dt

<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.series.Series'>

In [15]:
infy.head()

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,,
2016-01-01,2016-01-01,INFY,EQ,1105.40,1100.00,1108.95,1093.20,1103.00,1105.25,1103.13,903275,9.964333e+13,18982,331554,0.3671
2016-01-04,2016-01-04,INFY,EQ,1105.25,1099.95,1102.45,1076.05,1078.50,1078.90,1087.82,1987681,2.162231e+14,53877,1247329,0.6275
2016-01-05,2016-01-05,INFY,EQ,1078.90,1085.50,1085.50,1062.25,1073.00,1074.05,1073.17,2474893,2.655975e+14,62085,1566206,0.6328
2016-01-06,2016-01-06,INFY,EQ,1074.05,1074.65,1074.65,1058.90,1068.50,1069.35,1067.55,2794164,2.982910e+14,76128,1985200,0.7105
2016-01-07,2016-01-07,INFY,EQ,1069.35,1060.05,1067.90,1047.90,1052.55,1050.80,1057.50,2647044,2.799256e+14,79845,1650344,0.6235

In [16]:
infy.tail()

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,,
2016-12-23,2016-12-23,INFY,EQ,984.70,984.90,1006.6,973.60,988.25,988.45,989.92,3653018,3.616212e+14,87394,2010219,0.5503
2016-12-26,2016-12-26,INFY,EQ,988.45,988.00,994.0,975.10,983.35,982.75,983.28,1606914,1.580050e+14,47565,958338,0.5964
2016-12-27,2016-12-27,INFY,EQ,982.75,982.75,1001.9,980.00,996.90,998.95,993.09,2456408,2.439426e+14,57508,1430604,0.5824
2016-12-28,2016-12-28,INFY,EQ,998.95,1002.95,1009.8,995.00,999.00,998.50,1003.15,2738408,2.747040e+14,81224,1853359,0.6768
2016-12-29,2016-12-29,INFY,EQ,998.50,1003.75,1008.0,988.15,990.00,992.35,997.88,3120062,3.113452e+14,92963,2303901,0.7384

In [0]:
nifty_it = get_history(symbol="NIFTYIT",
                            start=date(2016,1,1),
                            end=date(2016,12,29),
                            index=True)

In [18]:
nifty_it

                Open      High       Low     Close    Volume      Turnover
Date
2016-01-01  11210.25  11221.60  11137.85  11174.85   3126850  3.190300e+09
2016-01-04  11144.00  11160.95  11004.65  11029.25   7875357  7.677800e+09
2016-01-05  11082.60  11084.60  10945.20  10997.15   7909892  8.598800e+09
2016-01-06  11027.55  11037.40  10979.45  11018.15   8585557  9.187500e+09
2016-01-07  10947.75  10964.65  10822.70  10863.20  10454519  1.066610e+10
2016-01-08  10933.30  11007.50  10896.45  10989.55   7287266  7.345900e+09
2016-01-11  10898.80  10917.45  10797.70  10823.90   9742884  1.008700e+10
2016-01-12  10850.25  10850.25  10659.25  10790.35   9984443  1.085980e+10
2016-01-13  10807.85  10860.40  10646.55  10839.85  11133904  1.322310e+10
2016-01-14  10730.65  11068.90  10685.35  10980.45  23469653  2.526620e+10
2016-01-15  11050.65  11057.70  10949.95  10994.95  14012251  1.579570e+10
2016-01-18  10954.20  11084.40  10954.20  10984.00  11716225  1.244040e+10
2016-01-19  11052.40  11064.80  10873.60  10963.10  12176980  1.166120e+10
2016-01-20  10897.80  10945.40  10855.20  10910.50  10426978  1.015560e+10
2016-01-21  10957.95  10994.90  10893.35  10934.70  10558161  1.077390e+10
2016-01-22  11020.60  11030.65  10961.35  11006.70   7367656  7.730800e+09
2016-01-25  11047.00  11113.80  11000.25  11025.35   6649189  6.917600e+09
2016-01-27  11052.55  11061.80  10992.45  11029.10  10815699  1.007870e+10
2016-01-28  11010.10  11073.75  10984.25  11002.70  13918783  1.415820e+10
2016-01-29  11061.85  11266.75  11024.95  11236.15  17438592  1.601880e+10
2016-02-01  11271.15  11409.10  11234.80  11305.25  16768205  1.262370e+10
2016-02-02  11325.75  11377.95  11182.50  11242.10  19286309  1.503460e+10
2016-02-03  11179.75  11218.45  11065.80  11122.25  12152041  9.995200e+09
2016-02-04  11178.25  11289.80  11148.15  11213.65  10379772  9.175500e+09
2016-02-05  11222.20  11285.10  11188.45  11227.55   8207885  7.606700e+09
2016-02-08  11160.85  11190.35  10962.80  11001.45   7344448  6.733900e+09
2016-02-09  10866.20  10866.20  10590.10  10614.25  14971950  1.264940e+10
2016-02-10  10614.30  10693.90  10570.65  10600.45  13147364  1.060080e+10
2016-02-11  10615.35  10615.35  10279.70  10312.95  12495553  1.025670e+10
2016-02-12  10404.60  10462.90  10157.10  10324.45  17610027  1.287840e+10
...              ...       ...       ...       ...       ...           ...
2016-11-18   9497.80   9560.90   9419.60   9476.45  10571616  8.516400e+09
2016-11-21   9500.00   9553.70   9430.40   9453.75  12187155  9.185200e+09
2016-11-22   9492.35   9566.70   9471.20   9509.45  10320661  7.296000e+09
2016-11-23   9559.10   9571.55   9484.45   9549.85  11234249  8.630900e+09
2016-11-24   9561.40   9726.50   9518.90   9656.25  18981651  1.659090e+10
2016-11-25   9709.15  10140.65   9696.65  10114.90  21789062  2.030860e+10
2016-11-28  10126.70  10171.80  10001.50  10106.20  12490536  1.063280e+10
2016-11-29  10099.65  10149.80  10043.20  10059.60   9368688  7.701600e+09
2016-11-30  10086.55  10139.95  10011.45  10087.65  14229629  1.285790e+10
2016-12-01  10090.00  10108.80  10002.40  10049.75   9518941  7.487100e+09
2016-12-02  10018.15  10061.20   9898.90   9922.75   9513403  8.425700e+09
2016-12-05   9908.30   9946.90   9778.95   9836.00   8242545  7.497000e+09
2016-12-06   9850.90   9946.75   9808.35   9834.95   7018872  6.468000e+09
2016-12-07   9865.65   9871.70   9764.20   9777.90   8046891  7.224200e+09
2016-12-08   9819.90   9947.40   9819.65   9935.90   9564747  9.456400e+09
2016-12-09   9961.95  10059.95   9925.85   9997.50  12004522  1.031460e+10
2016-12-12   9960.30   9971.25   9846.20   9953.90   8348374  8.187900e+09
2016-12-13   9983.70  10082.15   9929.85  10058.65  10363616  8.874700e+09
2016-12-14  10091.55  10150.95  10044.15  10128.95  11850616  9.295500e+09
2016-12-15  10099.05  10299.80  10091.60  10195.75  16986840  1.494020e+10
2016-12-16  10265.65  10268.70  10188.25  10222.95  10931162  9.276100e+09
2016-12-19  10213.45  10234.05  10153.80  10223.65   7460302  6.359300e+09
2016-12-20  10239.85  10352.65  10224.45  10322.85  11510080  1.100560e+10
2016-12-21  10357.30  10357.30  10207.25  10228.25   9569302  8.782600e+09
2016-12-22  10210.25  10251.20  10084.25  10163.00   9432930  8.653400e+09
2016-12-23  10162.40  10187.25  10048.85  10071.05   9770830  8.379900e+09
2016-12-26  10028.90  10065.75   9979.60  10023.30   5510950  4.446000e+09
2016-12-27   9997.00  10188.65   9994.95  10170.70   7812402  6.465800e+09
2016-12-28  10203.85  10301.10  10177.40  10198.60  10320156  8.102500e+09
2016-12-29  10194.15  10314.35  10183.40  10291.85  13889741  1.097080e+10

[246 rows x 6 columns]

In [0]:
nifty_it.insert(0, 'Date', pd.to_datetime(nifty_it.index,format='%Y-%m-%d'))

In [20]:
print(type(nifty_it.index))
print(type(nifty_it.Date))
nifty_it.Date.dt

<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.series.Series'>

In [21]:
nifty_it.count()

Date        246
Open        246
High        246
Low         246
Close       246
Volume      246
Turnover    246
dtype: int64

In [22]:
nifty_it.head()

,Date,Open,High,Low,Close,Volume,Turnover
Date,,,,,,,
2016-01-01,2016-01-01,11210.25,11221.60,11137.85,11174.85,3126850,3.190300e+09
2016-01-04,2016-01-04,11144.00,11160.95,11004.65,11029.25,7875357,7.677800e+09
2016-01-05,2016-01-05,11082.60,11084.60,10945.20,10997.15,7909892,8.598800e+09
2016-01-06,2016-01-06,11027.55,11037.40,10979.45,11018.15,8585557,9.187500e+09
2016-01-07,2016-01-07,10947.75,10964.65,10822.70,10863.20,10454519,1.066610e+10

In [23]:
nifty_it.tail()

,Date,Open,High,Low,Close,Volume,Turnover
Date,,,,,,,
2016-12-23,2016-12-23,10162.40,10187.25,10048.85,10071.05,9770830,8.379900e+09
2016-12-26,2016-12-26,10028.90,10065.75,9979.60,10023.30,5510950,4.446000e+09
2016-12-27,2016-12-27,9997.00,10188.65,9994.95,10170.70,7812402,6.465800e+09
2016-12-28,2016-12-28,10203.85,10301.10,10177.40,10198.60,10320156,8.102500e+09
2016-12-29,2016-12-29,10194.15,10314.35,10183.40,10291.85,13889741,1.097080e+10

In [24]:
nifty_it.describe()

,Open,High,Low,Close,Volume,Turnover
count,246.000000,246.000000,246.000000,246.000000,2.460000e+02,2.460000e+02
mean,10735.489431,10799.066667,10655.242073,10726.732317,1.297367e+07,1.155961e+10
std,513.962001,508.920438,518.046727,514.708081,5.451197e+06,5.148890e+09
min,9467.650000,9553.700000,9295.250000,9434.600000,1.431970e+06,9.813000e+08
25%,10350.787500,10414.650000,10261.587500,10323.250000,9.589147e+06,8.521825e+09
50%,10866.925000,10940.525000,10794.150000,10868.875000,1.157531e+07,1.032100e+10
75%,11155.212500,11211.900000,11085.012500,11146.587500,1.466639e+07,1.265375e+10
max,11697.400000,11697.400000,11506.150000,11597.250000,4.510188e+07,4.977350e+10

In [25]:
tcs.describe()

,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
count,246.000000,246.000000,246.000000,246.000000,246.00000,246.000000,246.000000,2.460000e+02,2.460000e+02,246.000000,2.460000e+02,246.000000
mean,2419.797764,2419.252642,2442.592276,2392.388008,2419.78313,2419.451626,2418.130447,1.093296e+06,2.637690e+14,60529.841463,7.143726e+05,0.650561
std,139.443007,137.861203,136.923204,139.912421,138.94179,139.506175,137.914304,5.904762e+05,1.419641e+14,26357.587724,3.822227e+05,0.079671
min,2101.150000,2116.900000,2140.000000,2051.900000,2120.00000,2101.150000,2110.240000,4.267600e+04,1.021551e+13,3032.000000,1.707300e+04,0.400100
25%,2319.500000,2315.125000,2339.775000,2291.125000,2317.75000,2319.500000,2317.497500,7.319332e+05,1.770128e+14,43722.750000,4.477050e+05,0.598625
50%,2421.000000,2415.000000,2435.150000,2401.100000,2422.20000,2419.075000,2419.990000,9.406180e+05,2.260544e+14,54378.000000,6.171335e+05,0.647250
75%,2521.500000,2521.637500,2544.250000,2495.587500,2522.77500,2521.500000,2515.252500,1.242996e+06,3.049946e+14,70329.500000,8.492730e+05,0.715175
max,2738.450000,2738.000000,2744.800000,2702.050000,2740.00000,2738.450000,2732.860000,4.168183e+06,1.027122e+15,185897.000000,2.506173e+06,0.850800

In [26]:
infy.describe()

,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
count,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,246.000000,2.460000e+02,2.460000e+02,246.000000,2.460000e+02,246.000000
mean,1101.495935,1102.185569,1112.932114,1090.050610,1100.947967,1101.036382,1101.336789,3.418863e+06,3.757824e+14,99457.357724,2.269433e+06,0.671324
std,89.771049,90.014331,90.787461,89.269946,90.076547,90.039940,89.495640,2.587081e+06,2.851339e+14,58124.418425,1.465302e+06,0.080229
min,911.100000,916.900000,922.900000,901.000000,914.000000,911.100000,918.140000,3.190360e+05,3.197183e+13,14192.000000,1.959780e+05,0.333700
25%,1035.862500,1036.125000,1042.400000,1025.062500,1034.600000,1035.587500,1033.860000,2.290466e+06,2.521556e+14,72293.750000,1.524709e+06,0.623925
50%,1086.150000,1091.650000,1102.725000,1075.225000,1085.775000,1085.300000,1086.735000,2.865887e+06,3.227762e+14,91102.500000,1.966640e+06,0.676350
75%,1180.825000,1181.000000,1192.725000,1170.100000,1179.862500,1180.825000,1181.102500,3.711217e+06,4.014379e+14,109069.750000,2.552786e+06,0.727125
max,1267.600000,1267.000000,1279.300000,1261.100000,1267.250000,1267.600000,1271.430000,3.074206e+07,3.336659e+15,707440.000000,1.686535e+07,0.858100

In [0]:

tcs.to_csv('tcs_stock.csv', encoding='utf-8', index=False)

In [0]:
infy.to_csv('infy_stock.csv', encoding='utf-8', index=False)

In [0]:
nifty_it.to_csv('nifty_it_index.csv', encoding='utf-8', index=False)